<div class="parallax"  style="height:100vh; width: 100vw; scroll-snap-align: start;">
	<div id="myBg" class="parallax" style="position: absolute;right: 0; background-position: 300px -100px; height: 100%; width: 50vw; min-width:10vw">
		<div class="cover"></div>
	</div> 
	<div style="z-index: 3; padding: 50px; height: 100%; width: 50%; background-color: #E0E5EC;">
		<div data-scroll style="width: 100%; height:100%">
		<span style="color: black ; font-family: Akrobat; ; 
		border-radius: 100px;
		font-weight: 800; font-size: 110px;display: block; width:480px; ">about me.</span>
		<span style="color: rgb(56, 54, 54) ;font-style: italic; font-family: Akrobat; font-size: 18px; display: block; border-radius: 20px; width:750px;text-align: left; transform: translateY(-30px);">
			"It is not our abilities that show what we truly are, it is our choices."
		</span>
		<div style="margin-top: 50px; position: relative;">
			<span class ="raised" style="color: rgb(56, 54, 54) ; font-family: futura; font-size: 18px; display: block; border-radius: 20px; width:750px; height:400px;text-align: left; padding: 20px;">
				My name is Pranay Chaudhary and I am a software developer based out of Bangalore, India.
				I have an expertise in designining scalable, backend architectures with distributed systems and a gradually
				inflating interest in UI design. In my 5 years of corporate experience, I have worked in Payments,
				Paid Marketing, E-commerce and Finance domains. On a personal front, I am a writer, a painter and a cook, always trying
				to satiate my cravings for Pizzas.
			</span>
			<span style="position: absolute; left: 10px; bottom: 15px;display: inline;">
			<a href="https://www.facebook.com/pranay.chaudhary3"><img src="../../assets/fb.png" style="width: 50px; height: 50px;"></a>
			<a href="https://www.linkedin.com/in/pranaykc/"><img src="../../assets/in.png" style="width: 40px; height: 40px;"></a>
			<a href="https://medium.com/@Pranaykc"><img src="../../assets/medium.png" style="width: 55px; height: 40px;"></a>
			</span>
		</div>
	</div>
	</div>
</div>