<div class="parallax"  style="height:100vh; width: 100vw; scroll-snap-align: start;">
	<div class="parallax" style="position: absolute;right: 0;background-image: url('./../../assets/pranay.jpg'); background-position: 300px -100px; height: 100%; width: 50%;">
		<div class="cover"></div>
	</div> 
	<div style="z-index: 3; padding: 50px; height: 100%; width: 50%; background-color: white">
		<div data-scroll style="width: 100%; height:100%">
		<span style="color: black ; font-family: Akrobat; font-weight: 800; font-size: 110px;display: block;">about me.</span>
		<div style="margin-top: 50px;">
			<span style="color: grey ; font-family: futura; font-size: 20px; display: block;">
				I am a software developer based out of Bangalore, India.
				I have expertise in designining scalable, backend architectures with distributed systems and a gradually
				inflating interest in UI design. In my short 5 years of corporate experience, I have worked in Payments,
				Paid Marketing, E-commerce and Finance domains. On a personal front, I am a writer, a painter and a cook, always trying
			to satiate my cravings for Pizzas.</span>
		</div>
	</div>
	</div>
</div>