<div class="parallax" style="height:1300px; overflow: hidden;background-color: rgb(228, 198, 122);"> 
 
        <span style="position: absolute;left: 2%; font-family: Akrobat; font-style: bolder; top: 10%; width: 100%; height: 50% ; color:goldenrod;font-size:400px; background: transparent; opacity: 0.2; letter-spacing: 10px;">EXPERIENCE</span>

    <!-- <div class="rellax" id="workDiv" [style.opacity]="opacity" data-rellax-speed="-0.3" style="background:seagreen; border: none;border-color: white; height: 70px; padding: 15px 10px 20px 20px; width: 350px; position: absolute;top: 2%; right: 38%; z-index: 3;">
        <span style="color: white; font-family: futura; font-weight: bolder; font-size: 35px;">Work</span>
</div> -->
<div style="text-align: center; position: absolute; top: 2%;left:48%">
    <span style="color: white; ; font-family: Akrobat; font-weight: bold; font-size: 60px;display: block;">Work</span>
</div>

<div class="rellax" data-rellax-speed="6.9" style="position: absolute; left: 18%; top:90%;"> 
    <img src="../../assets/gs.png" style="height: 120px; width: 120px;">
</div>
<div class="rellax" id="gs" data-rellax-speed="7"style="height: 500px; width: 400px; position: relative; left: 15%; top: 75%;">
    <div style="border-radius: 20px;background-color:black; position: absolute; width: 100%; height: 100% ;opacity: 0.8;"></div>
    <div style=" width: 350px; height: 250px; margin-left: 5px; position: absolute; padding: 10px;">
        <div style="width: 100%; height: 100%;"> 
        <span style="font-family: futura; font-size: 20px;font-weight: bolder; color: lightskyblue;">Associate</span>
        <br>
        <span style="font-family: futura; font-size: 15px ;font-style: oblique;font-weight: bolder; color:slategray; margin-top: 5px; display: block;">2019-Present</span>
        <br>
        <span style="font-family: futura;font-size: 16px; color: white; display: block; margin-top: 5px;"> Part of Market Solutions Group within Investment Management Division of Goldman Sachs. The work primarily deals 
            with providing tech solutions for handling private firms' equity/debt deals and investments for high net worth individuals. My team builds 
            systems that serve the end to end use case of starting a deal, adding, validating and allocating indications and finally booking 
            the trade. A major part of my work here is on building a workflow and data insights system that will enable GS to efficiently approach, maintain and grow their portfolio of high potential Family Offices 
            for private investments.</span>
        </div>
    </div>
</div>

<div class="rellax" data-rellax-speed="4.2" style="position: absolute; right: 10%; top: 86%;"> 
    <img src="../../assets/groupon.png" style="height: 60px; width: 270px;">
</div>
<div class="rellax" id="groupon" data-rellax-speed="5" style=" height: 500px; width: 400px; position: absolute; right: 10%; top: 80%;">
    <div style="border-radius: 20px;background-color:black; position: absolute; width: 100%; height: 100% ;opacity: 0.8;"></div>
    <div style=" width: 350px; height: 250; margin-left: 5px; position: absolute; padding: 10px;">
        <div style="width: 100%; height: 100%;"> 
            <span style="font-family: futura; font-size: 20px;font-weight: bolder; color: lightskyblue;">Software Development Engineer 2</span>
            <br>
            <span style="font-family: futura; font-size: 14px ;font-style: oblique;font-weight: bolder; color:slategray; margin-top: 5px; display: block;">2018-2019</span>
            <br>
            <span style="font-family: futura;font-size: 16px; color: white; display: block; margin-top: 5px;">
               Worked for 3 different teams at Groupon: Paid Marketing, Ads on Groupon and Groupon Select. Developed a service to provide ad-servings and 
               real-time ad-targeting for both internal and external ads using audience listings which brought in an estimated revenue of $12M annually. Also, designed and built a reporting 
               pipeline for collecting ad metrics like aggregated clicks, impressions and revenue data and integrated with multiple 3rd party ad platforms. As part of Groupon Select, worked on 
               overhauling the backend design and architecture, and seamlessly migrating the exiting customers to the new experience.
            </span>
        </div>
    </div>
</div>

<div id="gear" [style.transform]="gearPos" style="position: absolute; top:55%; left: -150px; opacity: 0.3;">
    <img src="../../assets/gear.png" style="height: auto; width: 100%; max-width:350px;" class="whiten">
</div>

<div class="rellax" data-rellax-speed="4.6" style="position: absolute; left: 25%; top: 120%;"> 
    <img src="../../assets/visa.png" style="height: 60px; width: 160px;">
</div>
<div class="rellax" id="visa" data-rellax-speed="6" style="height: 550px; width: 400px; position: absolute; left: 25%; top: 115%;">
    <div style="border-radius: 20px;background-color:black; position: absolute; width: 100%; height: 100% ;opacity: 0.8;"></div>
    <div style=" width: 350px; height: 250; margin-left: 5px; position: absolute; padding: 10px;">
        <div style="width: 100%; height: 100%;"> 
            <span style="font-family: futura; font-size: 20px;font-weight: bolder; color: lightskyblue;">Senior Software Engineer</span>
            <br>
            <span style="font-family: futura; font-size: 14px ;font-style: oblique;font-weight: bolder; color:slategray; margin-top: 5px; display: block;">2015-2018</span>
            <br>
            <span style="font-family: futura;font-size: 16px; color: white; display: block; margin-top: 5px;">
                Joined Visa as part of the first ever batch of college hires in India. Worked for the Architecture and Platform team within Digital and Mobile division. Visa gave me 
                all the opportunities to learn and grow, maturing me from being a fresh hire to owning an entire project. My team built platform products which were crucial for the day-to-day working
                of our client teams, like Notification Service, Scheduling Service etc. Built a Solr and Kafka based Search platform capable of handling
                1000+ RPS, that was used by Visa Checkout and other internal teams. Got my hands dirty from deploying a Solr cluster, to integrating with HSM for encryption, to modifying open-source SolrJ code,
                to improving Kafka performance and what not. The best 2.5 years of my corporate life.
            </span>
        </div>
    </div>
</div>
<img src="../../assets/kb.png" class="whiten"  style="height: auto; width: 100%; max-width:400px; position: absolute; bottom:-90px; right:-45px; opacity: 0.4;">

</div>