<!-- 
<div class="back-row-toggle splat-toggle" style="height: 100vh;">
    <div class="rain front-row"></div>
    <div class="rain back-row"></div>
    <div class="toggles">
      <div class="splat-toggle toggle active">SPLAT</div>
      <div class="back-row-toggle toggle active">BACK<br>ROW</div>
      <div class="single-toggle toggle">SINGLE</div>
    </div>
</div> -->
<div class ="parallax" style="height: 100vh; width: 100vw;">
    <div class ="splat-toggle back-row-toggle" style="width:100%; height:100%; background: linear-gradient(to bottom, #202020, #111119);" >
        <div class="rain front-row"></div>
        <div class="rain back-row"></div>
    </div>
    <div style="height: 100vh;">
        <div class="content">
            <div data-scroll class="intro rellax" data-rellax-speed="-4">
                <span class ="intro1"> Hi There.</span>
                <div style="display: flex; align-items: center; align-content: space-between;">
                <img src="../../assets/dash.png" class="dash"> <span class ="intro2">I'm Pranay</span> <img src="../../assets/dash.png" class="dash"> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="parallax" style="background-color: black; height: 200px;">
    <div style="text-align: center; position: absolute; top: 2%;">
        <span style="color: #d9eeed ; font-family: futura; font-size: 40px;display: block;">About Me</span>
        <span style="color: #d9eeed ; font-family: futura; font-size: 20px; display: block;">I am a software engineer hailing from India. 
            I have expertise in designining scalable, backend systems with a slight interest in UI design. Also, being a painter and a writer, 
            I like to spend my weekends materializing my thoughts.</span>
    </div>
</div> -->


